
	<!DOCTYPE html><html lang='en' class=''>
	<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
	<style class="cp-pen-styles">#gif-wrap {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		background-color: #000;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	</style></head><body>

	<div id="gif-wrap"></div>
	<script >$(document).ready(function () {
		// Initiate gifLoop for set interval
		var refresh;
		// Duration count in seconds
		const duration = 1000 * 10;
		// Giphy API defaults
		const giphy = {
			baseURL: "https://api.giphy.com/v1/gifs/",
			key: "dc6zaTOxFJmzC",
			tag: "shrug",
			type: "random",
			rating: "pg-13" };

		// Target gif-wrap container
		const $gif_wrap = $("#gif-wrap");
		// Giphy API URL
		let giphyURL = encodeURI(
		giphy.baseURL +
		giphy.type +
		"?api_key=" +
		giphy.key +
		"&tag=" +
		giphy.tag +
		"&rating=" +
		giphy.rating);


		// Call Giphy API and render data
		var newGif = () => $.getJSON(giphyURL, json => renderGif(json.data));

		// Display Gif in gif wrap container
		var renderGif = _giphy => {
			// Set gif as bg image
			$gif_wrap.css({
				"background-image": 'url("' + _giphy.image_original_url + '")' });


			// Start duration countdown
			refreshRate();
		};

		// Call for new gif after duration
		var refreshRate = () => {
			// Reset set intervals
			clearInterval(refresh);
			refresh = setInterval(function () {
				// Call Giphy API for new gif
				newGif();
			}, duration);
		};

		// Call Giphy API for new gif
		newGif();
	});
	//# sourceURL=pen.js
	</script>
	</body></html>
